@import "./color.scss";

html, body{
	height: 100%;
}

body{
	font-size: 1em;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	overflow-x: hidden;
	opacity: 1;
}


@import "./media.scss";
