doctype html
html
	head
		include ./includePug/head.pug
		title title
		body
			// Header
			include ./includePug/header.pug
			// Content
			include ./includePug/content.pug
			// Footer
			include ./includePug/footer.pug
			// JS script
			include ./includePug/js.pug
